*.o
*.lo
*.la
*.a
*.so
*.so.*
*.img
.deps/
.libs/
autom4te.cache/
config.log
config.status
stamp-h1
src/testdisk
src/photorec
src/fidentify
src/qphotorec
src/photorecf
src/recovery-qt
src/fuzzerfidentify
src/demo_*
Makefile
config.h
config.h.in
config.h.in~
aclocal.m4
configure
libtool
*.tar.bz2
*.tar.gz
*.zip
photorec-nc.log
src/*.o
src/.deps/
"Disk Image of sda (2024-03-09 1700).img"
build/
src/photorec_nc
temp/
