// File: recovery-qt.rc
//
// Copyright (C) 2026 Sinan Islekdemir <sinan@islekdemir.com>
// GPL-2.0-or-later

#include <winver.h>

1 24 "recovery-qt.manifest"

VS_VERSION_INFO VERSIONINFO
FILEVERSION     7,3,0,0
PRODUCTVERSION  7,3,0,0
FILEFLAGSMASK   VS_FFI_FILEFLAGSMASK
FILEFLAGS       0
FILEOS          VOS_NT_WINDOWS32
FILETYPE        VFT_APP
FILESUBTYPE     VFT2_UNKNOWN
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904B0"
        BEGIN
            VALUE "CompanyName",      "Sinan Islekdemir"
            VALUE "FileDescription",  "Data recovery and file carving tool"
            VALUE "FileVersion",      "7.3.0"
            VALUE "InternalName",     "recovery-qt"
            VALUE "LegalCopyright",   "GPL-2.0-or-later"
            VALUE "OriginalFilename", "recovery-qt.exe"
            VALUE "ProductName",      "recovery-qt"
            VALUE "ProductVersion",   "7.3.0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1200
    END
END
